@model Itreansition.ViewModels.AccountViewModels
@{
    ViewBag.Title = Model.AccountUser.Name;
}

    <div class="row" style="min-height:150px;">
        <div class="d-flex flex-lg-column flex-sm-row align-self-center ml-5">
            <div><p class="font-weight-bold h3">Ваш баланс:</p><p>@Model.AccountUser.Money</p></div>
            <div><a href="#"><p><small>Пополнить баланс</small></p></a></div>
        </div>
        <div class="d-flex d-flex flex-lg-column flex-sm-row  align-self-center ml-lg-auto ml-5" style="width:200px;">
            <div class="row">

                <div class="col-8"><p class="text-left font-weight-bold h3">@Model.AccountUser.UserName</p></div>
                <div class="row ml-auto" ><a href="~/Account/Setting"><p class="text-left"><small>Настройки</small></p></a> </div>
                <div class="col-4">
                    <p>Email:@Model.AccountUser.Email</p>
                    <p>Data:@Model.AccountUser.DateCheck.ToShortDateString()</p>
                </div>
            </div>
        </div>


    </div>
    <div class="row justify-content-center mb-5">
        <a href="~/Company/Create">New Company</a>
     </div>

        <div class="row justify-content-center">

            <div class="col-10">
                <div class="d-flex flex-column aligin-self-center" style=" height:1700px;">
                    <div class="d-flex flex-rowe" style="height:200px;">
                        <div class="col-4">
                            <button class="wide" type="button" data-toggle="collapse" data-target="
            #collapseMyCompany" aria-controls="collapseMyCompany">
                                <img src='img\myProjectIconpng.png' class="img-fluid"><br>
                                <div><p class="font-weight-bold h3">My<br>Projects</p></div>
                            </button>
                        </div>
                        <div class="col-4">
                            <button class="wide" type="button" data-toggle="collapse" data-target="
          #collapseInvestmentСompany" aria-controls="collapseInvestmentСompany">
                                <img src='img\InvestProjectIcon.png' class="img-fluid"><br>
                                <div><p class="font-weight-bold h3">Supported<br>Projects</p></div>
                            </button>
                        </div>
                        <div class="col-4">
                            <button class="wide" type="button" data-toggle="collapse" data-target="
          #collapseProgress" aria-controls="collapseProgress">
                                <img src='img\myAchievementsIcon.png' class="img-fluid"><br>
                                <div><p class="font-weight-bold h3">My<br>Achievements</p></div>
                            </button>
                        </div>
                    </div>
                    <div class="collapse" id="collapseMyCompany">
                        @foreach (var company in Model.ListCompany)
                        {


                            <div class="m-5" style="height:220px;">
                                <div class="card" style="height:200px;">
                                    <div class="row no-gutters">
                                        <div class="col-auto">
                                            <img src=@company.Logo class="img-fluid" style="height:200px; min-width:300px">
                                        </div>
                                        <div class="col">
                                            <div class="card-block px-2">
                                                <h4 class="card-title">@company.Name</h4>
                                                <p class="card-text">@company.BrieflyAbout</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer w-100 text-muted">
                                        ТУт будет прогрес бар
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                        <div class="collapse" id="collapseInvestmentСompany">
                            <div class="m-5" style="height:220px;">
                                <div class="card" style="height:200px;">
                                    <div class="row no-gutters">
                                        <div class="col-auto">
                                            <img src="img\test.jpg" class="img-fluid" style="height:200px; min-width:300px">
                                        </div>
                                        <div class="col">
                                            <div class="card-block px-2">
                                                <h4 class="card-title">Name company</h4>
                                                <p class="card-text">Создание первого в России детского научно-популярного комикса про историю и теорию театра кукол "Дима и Лина в закулисье: Как устроен театр кукол</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer w-100 text-muted">
                                        ТУт будет прогрес бар
                                    </div>
                                </div>
                            </div>
                            <div class="m-5" style="height:220px;">
                                <div class="card" style="height:200px;">
                                    <div class="row no-gutters">
                                        <div class="col-auto">
                                            <img src="img\test.jpg" class="img-fluid" style="height:200px; min-width:300px">
                                        </div>
                                        <div class="col">
                                            <div class="card-block px-2">
                                                <h4 class="card-title">Name company</h4>
                                                <p class="card-text">Создание первого в России детского научно-популярного комикса про историю и теорию театра кукол "Дима и Лина в закулисье: Как устроен театр кукол</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer w-100 text-muted">
                                        ТУт будет прогрес бар
                                    </div>
                                </div>
                            </div>
                            <div class=" m-5" style="height:220px;">
                                <div class="card" style="height:200px;">
                                    <div class="row no-gutters">
                                        <div class="col-auto">
                                            <img src="img\test.jpg" class="img-fluid" style="height:200px; min-width:300px">
                                        </div>
                                        <div class="col">
                                            <div class="card-block px-2">
                                                <h4 class="card-title">Name company</h4>
                                                <p class="card-text">Создание первого в России детского научно-популярного комикса про историю и теорию театра кукол "Дима и Лина в закулисье: Как устроен театр кукол</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer w-100 text-muted">
                                        ТУт будет прогрес бар
                                    </div>
                                </div>
                            </div>
                            <div class="m-5" style="height:220px;">
                                <div class="card" style="height:200px;">
                                    <div class="row no-gutters">
                                        <div class="col-auto">
                                            <img src="img\test.jpg" class="img-fluid" style="height:200px; min-width:300px">
                                        </div>
                                        <div class="col">
                                            <div class="card-block px-2">
                                                <h4 class="card-title">Name company</h4>
                                                <p class="card-text">Создание первого в России детского научно-популярного комикса про историю и теорию театра кукол "Дима и Лина в закулисье: Как устроен театр кукол</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer w-100 text-muted">
                                        ТУт будет прогрес бар
                                    </div>
                                </div>
                            </div>
                            <div class="m-5" style="height:220px;">
                                <div class="card" style="height:200px;">
                                    <div class="row no-gutters">
                                        <div class="col-auto">
                                            <img src="img\test.jpg" class="img-fluid" style="height:200px; min-width:300px">
                                        </div>
                                        <div class="col">
                                            <div class="card-block px-2">
                                                <h4 class="card-title">Name company</h4>
                                                <p class="card-text">Создание первого в России детского научно-популярного комикса про историю и теорию театра кукол "Дима и Лина в закулисье: Как устроен театр кукол</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer w-100 text-muted">
                                        ТУт будет прогрес бар
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collapse" id="collapseProgress">
                            <p class="card-text">Создание первого в России детского научно-популярного комикса про историю и теорию театра кукол "Дима и Лина в закулисье: Как устроен театр кукол</p>
                            <p class="card-text">Создание первого в России детского научно-популярного комикса про историю и теорию театра кукол "Дима и Лина в закулисье: Как устроен театр кукол</p>
                        </div>
